.wrapper {
  /* background-image: url("/img/header/piano-801707_1920.jpg"); */
  background-image: url("../../img/header/piano-801707_1920.jpg");
  background-size: cover;
  /* padding-top: 12px; */
  /* margin-bottom: 60px; */
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;

  margin-bottom: 80px;
  box-sizing: inherit;
}
/* min-width: 100vh; */
/* width: 100%; */
/* height: 100%; */
