.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mainNav {
 width: 816px;
  display: flex;
  margin-right: 55px;
}
.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mainNav a {
  color: #ded3ce;
}
