/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #5f5251;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
h2 {
  font-style: normal;
  font-size: 40px;
  line-height: 47px;
  color: #5f5251;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}
.sectionTitle {
  color: #7f9096;
  font-weight: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  display: block;
  text-decoration: none;
}

a,
a:active,
a:hover {
  display: block;
  text-decoration: none;
}

a:focus {
  color: blueviolet;
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
p,
span {
  /* color: #7f9096; */
  font-size: 20px;
  line-height: 23px;
}
h2 {
  color: #7f9096;
  text-transform: uppercase;
}
section {
  background-color: #fff;
}
